.alert-primary{
    font-size: 30px;
}

.img1{
    width: 50px;
}





/* footer{
    text-align: center;
    
    font-size: 20px;
    margin-bottom: 0px;
} */



/* .alert-primary{
    position: -webkit-sticky; /* Safari */
  /* position: sticky;
  top: 0;
} */ 

.welcome{
    margin-top: 50px;
    text-align: center;
    color: #A8CDE2;
    padding-bottom: 30px;
    font-style: italic;
}

.gle{
    width: 90px;
}

